body {
  background: url("pagebg.jpg") center / cover no-repeat fixed;
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00ddeb;
}
nav ul li a.logout-link:hover {
  color: red;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.welcome-section {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

#welcome-msg {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 2.5em;
  margin-bottom: 10px;
}

footer {
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

#logout {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 1.2em;
}

#logout:hover {
  animation: coloring 5s infinite ease-in-out, text-shadow-pulse 2s infinite;
}

@keyframes coloring {
  0% {
    color: greenyellow;
  }
  20% {
    color: green;
  }
  40% {
    color: yellow;
  }
  60% {
    color: brown;
  }
  80% {
    color: skyblue;
  }
  100% {
    color: white;
  }
}
